@import "partials/_variables.scss";

html {
   font-family: $raleway;
   padding: 0px;
   margin: 0px;
   background-size: cover;
   background-color: $lgrey;
}

body {
    margin: auto;
    max-width: 964px;
    background-color: white;
    padding: 0 10px;
}

header {
	margin: 60px 0 0 0;
	text-align: center;

	h1 {
		color: $blue;
		font-family: $dancing;
		font-size: 50px;
		padding: 20px 0 0 0;

	}
	h2 {
		font-family: $raleway;
		font-size: 20px;
		margin: -30px 0 30px 0;


	}
}



nav {
		border-bottom: $border;
		border-top: $border;
		padding: 0 0 0 230px;
		font-size: 18px;
		ul li {
			display: inline-block;
			padding: 0 25px;
		}
}

#banner {
	height: 300px;
	margin: 5px 0;
	background: url($coffee) no-repeat center;
	background-color: white;
}

#profile {
	padding: 15px 0;
	text-align: center;
	float: right;
	width: 25%;
	max-width: 240px;
}

#blogs {
	float: left;
	width: 70%;
	max-width: 700px;
	font-size: 20px;
	div {
	border-bottom: $lgrey solid 3px;
	margin: 15px 0;
	line-height: 28px;
	}
	h3 {
	font-size: 32px;
	font-family: $dancing;
	color: $blue;
	}
}

footer {
	clear: both;
	padding: 0 0 20px 0;
	ul {
		text-align: center;
		border-bottom: $border;
		border-top: $border;
		padding: 10px 0;
	
	li {
		display: inline-block;
		padding: 5px;
		}	
	}
}