$orange: #FFA500;
$grey: #333;
$blue: #1485CC;
$lgrey: #ECE6DD;

$border: solid #333 3px;

$dancing: 'Dancing Script', cursive;
$crimson: "Crimson+Text", serif;
$raleway: 'Raleway', sans-serif;

$mountain: "../img/header_964w.png";
$coffee: "../img/coffee_res.jpg";